h1 {
    text-align: center;

    margin-bottom: 25px;
}

form {
    display: flex;

    flex-direction: column;

    gap: 12px;
}

label {
    font-weight: bold;
}

input {
    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 6px;
}

button {
    padding: 12px;

    border: none;

    border-radius: 6px;

    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

body {
    margin: 0;

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    font-family: Arial, sans-serif;

    background-image: url("../img/floresta_urbana.avif");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;
}